/*Main part*/

html {
    background-color: #20202B;
}

.App {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 24rem;
    border-radius: 2.25rem;
    height: 36rem;
    box-shadow: 0 25px 37px -12px rgba(0, 0, 0, 0.75);
    background-color: #2C2C37;
}

/*Top banner*/

.top {
    background-color: #EEAE61;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

/*Middle: Stations*/

.station {
    width: 85%;
    font-size: 1.5rem;
}

.station .image {
    animation-name: stationImage;
    animation-duration: 0.3s;
}

@keyframes stationImage {
    0% {
        transform: translateY(50%);
        opacity: 0
    }
    50% {
        transform: translateY(20%);
        opacity: 0.4
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.station .row {
    align-items: center;
}

.station .picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #9FA8BA;
}

.station span:last-child {
    font-weight: 700;
}

button {
    background-color: transparent;
    border: none;
    color: #8F96A7;
    border-bottom: 1px solid #43434D;
}

.station:last-child button {
    border-bottom: none;
}

button:focus {
    outline: none !important;
}

/*Bottom*/

.bottom {
    background-color: #22222B;
    height: 6rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #4D505C;
    color: #8F96A7;
}

.currently-playing {
    color: #EEAE61;
    font-size: 0.8rem;
    font-weight: 700;
}

/*Multiple components parameters*/

.station p:hover,
.station .col-3,
.top img:hover {
    cursor: pointer;
}

.top img,
.station img {
    height: 2rem;
}

.stations {
    height: 24rem;
    overflow: auto;
}

.button img {
    transition: all 0.2s ease;

}

.button img:active {
    padding: 5px;
}

/*Scrollbar styling*/

::-webkit-scrollbar {
    display: none;
}
